.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: 200px 4fr;
}

.sidebar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards-content-wrapper {
  grid-column: 1 / 3;
}

.cards-content {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(1, 1fr);
}

.route-card-wrapper {
  max-width: 300px;
  min-width: 260px;
  margin: 10px auto;
}

@media only screen and (min-width: 780px) {
  .cards-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1000px) {
  .cards-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1400px) {
  .cards-content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
